@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
      border: 0px;
    }
main{
    color :rgb(97, 67, 17);
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    margin-bottom: 20px;
}
footer{
    padding: 30px 10px 30px 10px;
    bottom: 0;
    width: 100%;
    height: 60px;
    top: 10px;
    background-color: rgb(206, 139, 31, 0.25);
}

nav{
    position: sticky; top: 0;
    border-bottom: 1px solid whitesmoke;
    padding: 16px;
    background-color: rgb(221, 146, 54);
}

#link1{
    background-color: rgb(255, 176, 5);
    transition: background-color 0.5s;
    text-decoration: none;
}
#link1:hover {
    background-color: burlywood;
    text-decoration: none;
}
#link2{
    background-color: cornsilk;
    transition: background-color 0.5s;
    text-decoration: none;
}
#link2:hover {
    background-color: burlywood;
    text-decoration: none;
}

.blah{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main{
    background-color: blanchedalmond;
}

tr:nth-child(even) {
    background: rgb(218, 216, 216)
}
